# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/

# Build and Dist files
dist/
build/
*.spec

# Virtual environments
venv/
.venv/
env/

# Session cache (user data)
.milipah_cache/

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
